@charset "utf-8";


#header-nav .active{
	color: #109e56;
}
.new-up .moer{
	float: right;
	color: #109e56;
	font-size: .25rem;
	margin-right: .4rem;
}
.moerr{
	text-align: right;
	color: #109e56!important;
	font-size: .22rem!important;
}
.moer1{
	border: 1px solid #109e56;
	border-radius: .07rem;
	color: #109e56;
	font-size: .2rem;
	padding: .05rem;
	margin-right: .4rem;
}